<div class=''>
  <div class='mb-10 pb-14 border-b border-gray-300'>
    <h1 class="font-sans font-bold text-3xl mb-10"><%= @product.name  %></h1>
    <div class='flex space-between'>
      <div class='flex space-x-6'>
        <div class='font-normal text-3xl'><%= rating_format(@average_rating) %></div>
        <%= stars(rating: @average_rating, full_stars: true) %>
      </div>
    </div>
  </div>

  <h2 class="font-sans font-bold text-2xl mb-6">Reviews</h2>
  <ul class='space-y-8'>
    <% @reviews.each do |review| %>
      <li class='flex space-x-6 items-center'>
        <%= stars(rating: review.rating) %>
        <div>
          <span class='font-bold text-xl'><%= rating_format(review.rating) %></span>
          <span class='text-xl text-gray-400'>
            <%= review.comment %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>




